name: Tender Bot

on:
  schedule:
    - cron: '0 * * * *'   # runs every 1 hour
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Chrome
        run: |
          sudo apt update
          sudo apt install -y chromium-browser

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Create creds.json
        run: echo '${{ secrets.GOOGLE_CREDS }}' > creds.json

      - name: Run scraper
        run: python main.py
